.mews {
    width: 80%;
    border-style: solid;
    padding: 12px;
    border-color:whitesmoke;
    border-radius: 4px;
    margin-left: 0px;
    border-width: 1px;
  }
  
.mews > div {
    
    padding: 12px;
    border-radius: 4px;
    

  }
  
